* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  user-select: none;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

::selection {
  background-color: #40bfff;
  color: #fff;
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  background-color: #33a0ff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.header-top__container {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dadada;
}

.header-top__left {
  display: block;
  width: 36px;
}

.header-top__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  border: none;
  padding: 8px 12px;
  font-size: 18px;
  border: 2px solid #f0f0f0;
  border-radius: 6px;
  width: 500px;
  background-color: #fff;
  outline: none;
  align-items: center;
}

.header-top__user {
  margin-left: 20px;
  display: flex;
  font-size: 18px;
  color: #22262a;
  cursor: pointer;
  font-weight: 600;
}

.header-top__user::before {
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  /* background-image: url("/img/user.svg"); */
  background-position: center;
  background-size: cover;
  margin-right: 8px;
  cursor: pointer;
}

.header-top__shop-cart {
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  /* background-image: url("/img/korzinka.svg"); */
  background-position: center;
  background-size: cover;
  margin-left: 32px;
  position: relative;
}

.header-top__shop-cart-span {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -10px;
  top: -10px;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 3px;
  font-weight: 600;
  background-color: red;
}

.header-bottom__container {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom__left {
  display: flex;
  align-items: center;
}

.header-bottom__logo-block {
  display: block;
  width: 48px;
}

.header-bottom__logo-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin-left: 8px;
  color: #fff;
}

.header-botttom__list {
  display: flex;
  align-items: center;
}

.header-bottom__item + .header-bottom__item {
  margin-left: 98px;
}

.header-bottom__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #f1f1f1;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-image: url("/img/hero-img.jpg"); */
  width: 100%;
  height: 550px;
  margin-top: 135px;
  padding-top: 164px;
}

.hero-title {
  max-width: 530px;
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.header_brand_img img {
  background-size: contain;
  background-position: center;
  width: 100%;
  margin-top: 50px;
  /* opacity: 1; */
}

.ProductImg {
  width: 190px;
  height: 50%;
}

.name {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  /* white-space: wrap; */
  text-overflow: ellipsis;
  /* width: 100%; */
  font-size: 19px;
  max-width: 200px;
}

.PriviousPrice {
  text-decoration: line-through;
}

.skidka {
  font-size: 24px;
  font-weight: 600;
  color: rgb(238, 30, 30);
}

.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 250px;
  /* padding: 50px 30px; */
  padding: 20px 10px;
  height: 450px;
  /* gap: 10px; */
  margin: 10px;
  text-align: center;
  border: 2px solid rgb(128, 128, 129);
  border-radius: 10px;
  transition: 0.2s linear all;
  cursor: pointer;
  user-select: none;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.PriceBox {
  display: flex;
  align-items: center;
  gap: 18px;
}

.korzinHeart {
  display: flex;
  align-items: center;
  gap: 30px;
}

.korzinHeart img {
  width: 25px;
  transition: 0.1s linear all;
}

.korzin:hover {
  transform: scale(1.3);
}

.korzin:active {
  transform: scale(1.1);
}

.heart:hover {
  transform: scale(1.3);
}

.heart:active {
  transform: scale(1.1);
}

.ProductsData {
  height: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: -40px; */
  justify-content: space-between;
}

.ProductsCategoriesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.ProductsCategoriesBox a {
  font-size: 24px;
}

.categoriesBox {
  text-align: center;
  margin-top: 80px;
}

.categoriesBox h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.SectionImgs {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
  margin-top: 50px;
}

.SectionImgs img {
  width: 100px;
  margin-bottom: 20px;
}

footer {
  background-color: #33a0ff;
  margin-top: 120px;
}

.footer-block {
  padding: 50px 10px;
  display: flex;
}

.footer-adress {
  width: 261px;
  margin-right: 32px;
}

.footer-icon-block {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.footer-adress img {
  margin-right: 16px;
  width: 48px;
}

.footer-logo-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
}

.footer-adress-text {
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 20px;
  width: 261px;
}

.footer-adress-link {
  display: inline-block;
  color: #f0f0f0;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
}

.footer-item {
  width: 164px;
  margin-right: 32px;
  padding-top: 16px;
}

.footer-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 32px;
}

.footer-box-item {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.footer-box-link {
  color: #f0f0f0;
}

.footer-about {
  padding-top: 16px;
}

.footer-about-text,
.footer-src {
  color: #f0f0f0;
  margin-bottom: 29px;
}

.shop-page {
  margin-top: 140px;
}

.total-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

.final-cart {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  padding: 50px 25px;
  border: 1px solid #bcbcbca3;
}

.buyNow {
  margin-top: 90px;
  padding: 8px 25px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(0, 216, 0);
  color: #f0f0f0;
  border: none;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.buyNow:hover {
  background-color: rgb(2, 133, 2);
}

.currentPrice {
  color: #33a0ff;
  font-weight: 700;
  font-size: 24px;
}

.PriviousPrice {
  color: #585858;
}

.starBox img {
  width: 30px;
}

.starBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 10px;
}

.activeLink {
  color: red;
  text-decoration: underline;
}

.korzinkaBox{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
}

.productImgDel{
  display: flex;
  gap: 20px;
  align-items: center;
}
.daleteImg{
  cursor: pointer;
  width:40px
}
.ProductsImg{
  width: 80px;

}
.Product{
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Product p{
  font-weight: 700;
  font-size: 24px;
  color: #22262a;
}
.unitPrice{
  display: flex;
  gap: 120px;
}
.productBox1{
  margin-top: 20px;
  border-top: 2px solid rgb(150, 149, 149);
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.ProductName{
  font-size: 20px;
  color: rgb(73, 73, 73);
  font-weight: 600;
  max-width: 200px;
  max-height: 60px;
  overflow: hidden;
}

.countProduct1{
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(193, 199, 204);
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 0px;
}
.CountBox1{
  display: flex;
  align-items: center;
  gap: 120px;
  margin-right: 80px;
}
.CountBox1 p{
  font-size: 20px;
  font-weight: 600;
  color: #585858;
}

.card1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 200px;
  border: 1px solid rgb(167, 166, 166);
  margin: 50px auto;
}
.card1 p{
  font-size: 20px;
  font-weight: 600;

}
/* .box{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

td{
  width: 175px;
}
.active-link{
  color:rgb(194, 4, 4);
  text-decoration: underline;
}